<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
    href="/static/madlibs.css">
    <title></title>
</head>
<body>
    <p>Once in a {{place}} far, far, away there was a {{ noun }} that shot out {{ food }} at {{ person }}'s
    {% if body|length ==1 %}
        {{body[0]}}
    {% elif body|length == 2 %}
        {{body[0]}} and {{body[1]}}
    {% elif body|length > 2 %}
        {{ body[:-1]|join(", ") }}
        and {{body[-1]}}
    {% endif %}

    , who had just come out of a UFO. {{ person }} ran off in an {{ adj }} way. But then {{ person }} decided to come back and eat {{ food }} instead and thanked {{ noun }} for the free meal. 
    </p>
    

</body>
</html>